* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero__section{
    background: url(image/neon_bg.jpg);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    height: 60px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar__menu_container{
    display: flex;
    gap: 20px;
}

.navbar__menu_container .user__icon{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: calc(60vh-60px);
}

.hero__section_container img{
    border-radius: 50px;    
}

.hero__section_logo{
    width: 200px;
    height: auto;
}

.hero__section_title{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.hero__section_para{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

/* Build Now Button */ 
.button {
    --black-700: hsla(0 0% 12% / 1);
    --border_radius: 9999px;
    --transtion: 0.3s ease-in-out;
    --offset: 2px;
  
    cursor: pointer;
    position: relative;
  
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
    transform-origin: center;
  
    padding: 1rem 2rem;
    background-color: transparent;
  
    border: none;
    border-radius: var(--border_radius);
    transform: scale(calc(1 + (var(--active, 0) * 0.1)));
  
    transition: transform var(--transtion);
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 100%;
    height: 100%;
    background-color: var(--black-700);
  
    border-radius: var(--border_radius);
    box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
      0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
      0 0 0 calc(var(--active, 0) * 0.375rem) hsl(260 97% 50% / 0.75);
  
    transition: all var(--transtion);
    z-index: 0;
  }
  
  .button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 100%;
    height: 100%;
    background-color: hsla(260 97% 61% / 0.75);
    background-image: radial-gradient(
        at 51% 89%,
        hsla(266, 45%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
      radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
    background-position: top;
  
    opacity: var(--active, 0);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
  }
  
  .button:is(:hover, :focus-visible) {
    --active: 1;
  }
  .button:active {
    transform: scale(1);
  }
  
  .button .dots_border {
    --size_border: calc(100% + 2px);
  
    overflow: hidden;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: var(--size_border);
    height: var(--size_border);
    background-color: transparent;
  
    border-radius: var(--border_radius);
    z-index: -10;
  }
  
  .button .dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transform: rotate(0deg);
  
    width: 100%;
    height: 2rem;
    background-color: white;
  
    mask: linear-gradient(transparent 0%, white 120%);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .button .sparkle {
    position: relative;
    z-index: 10;
  
    width: 1.75rem;
  }
  
  .button .sparkle .path {
    fill: currentColor;
    stroke: currentColor;
  
    transform-origin: center;
  
    color: hsl(0, 0%, 100%);
  }
  
  .button:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
  }
  
  .button .sparkle .path:nth-child(1) {
    --scale_path_1: 1.2;
  }
  .button .sparkle .path:nth-child(2) {
    --scale_path_2: 1.2;
  }
  .button .sparkle .path:nth-child(3) {
    --scale_path_3: 1.2;
  }
  
  @keyframes path {
    0%,
    34%,
    71%,
    100% {
      transform: scale(1);
    }
    17% {
      transform: scale(var(--scale_path_1, 1));
    }
    49% {
      transform: scale(var(--scale_path_2, 1));
    }
    83% {
      transform: scale(var(--scale_path_3, 1));
    }
  }
  
  .button .text_button {
    position: relative;
    z-index: 10;
  
    background-image: linear-gradient(
      90deg,
      hsla(0 0% 100% / 1) 0%,
      hsla(0 0% 100% / var(--active, 0)) 120%
    );
    background-clip: text;
  
    font-size: 1rem;
    color: transparent;
  }



@media only screen and (max-width: 600px){
    .navbar__menu_container .user__icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80vh;
    }
    .navbar{
        padding: 16px;
    }
    .hero__section_input_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
            .input_container_location,
            .input_container_search{
                padding: 15px;
                border-radius: 10px;
                width: 95%;
            }
    .hero__section_container{
        height: calc(80vh-60px);
    }
    .hero__section_title{
        font-size: 20px;
        width: 95%;
    }
}

.container{
    margin: 3rem auto; 
    width: 80%;
}

.we__offer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.we__offer_card{
    border-radius: 10px;
    /* background-color: aqua; */
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}

.we__offer_card:hover{
    transform: scale(1.05);
}

.we__offer_card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
}

.we__offer_content{
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
}

.we__offer_content h2{
    font-size: 20px;
    font-weight: 400;
}

.we__offer_content p{
    font-size: 12px;
}

.collections h1{
    font-weight: 600;
}

.collections .sub__heading_container{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.sub__heading_container span:nth-child(2){
    color: #ff7e8b;
    font-size: 13px;
    cursor: pointer;
}

.collections_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.collections_card_container .card{
    /* background-color: aqua; */
    height: 300px;
    min-width: 240px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.card1{
    background-image: url(image/sample.jpg);
}

.card2{
    background-image: url(image/sample.jpg);
}

.card3{
    background-image: url(image/sample.jpg);
}

.card4{
    background-image: url(image/sample.jpg);
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(72, 16, 16, 0.09) 52%, rgba(13, 37, 59, 0.05) 52%, rgba(0, 0, 0, 0) 100%);
}

.content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
    font-weight: 400;
}

.content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}

.get__the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    padding: 3rem 6rem;
}

.get__the_app .semiContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.get__the_app .semiContainer .left{
    flex: 2;
}

.get__the_app .semiContainer .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.get__the_app .semiContainer .right{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right h1{
    font-weight: 400;
    font-size: 2rem;
}

.right p{
    font-size: 0.8rem;
}

.radio__button_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.radio__button_container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.radio__button_container div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239, 75, 95);
}

.semiContainer .right .input-container{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.input-container input, .input-container button{
    padding: 10px 12px;
}

.input-container input{
    outline: none;
    flex: auto;
    border: 1.5px solid grey;
    border-radius: 6px;
}

.input-container button{
    border: none;
    background-color: rgb(239, 75, 95);
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.download__app_container{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.download__app_container h5{
    font-weight: 400;
    color: grey;
}

.download__app_container div{
    display: flex;
    gap: 1rem;
}

.download__app_container div img{
    width: 33%;
}

@media only screen and (max-width: 1200px){
    .get__the_app .semiContainer .left,
    .get__the_app .semiContainer .right{
        flex: 1;
    }

    .get__the_app .semiContainer{
        width: 80%;
    }
}

@media only screen and (max-width: 900px){
    .get__the_app{
        padding: 2rem;
    }

    .get__the_app .semiContainer{
        width: 90%;
    }
}

@media only screen and (max-width: 700px){
    .get__the_app{
        padding: 3rem 0;
    }

    .get__the_app .semiContainer{
        width: 85%;
        flex-direction: column;
    }
}

.footer{
    width: 100%;
}

.footer_section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.footer_section1 img{
    width: 120px;
}

.section1__buttonContainer{
    display: flex;
    gap: 1rem;
}

.section1__buttonContainer button{
    padding: 5px;
    width: 90px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}

.link__container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link__container h5{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}

.footer__link{
    text-decoration: none;
    color: grey;
    font-size: 13px;
    font-weight: 300;
}

.footer__link:hover{
    color: black;
}

.social__links_container button{
    background-color: black;
    /* color: white; */
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.social__links_container button i{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.footer__section_logos{
    width: 100%;
}

.termsNConditions{
    width: 90%;
    margin: auto;
    padding-top: 1.5rem;
    border-top: 1px solid gray;
    color: gray;
}

@media only screen and (max-width: 900px){
    .navigation_container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 450px){
    .navigation_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 280px){
    .navigation_container{
        grid-template-columns: repeat(1, 1fr);
    }
}